<nb-layout>
  <!-- Header -->
  <nb-layout-header subheader>
    <kiss-header></kiss-header>
  </nb-layout-header>

  <!-- Footer -->
  <nb-layout-footer>
    <kiss-footer></kiss-footer>
  </nb-layout-footer>

  <!-- Contents -->
  <nb-layout-column>
    <kiss-sidebar></kiss-sidebar>
  </nb-layout-column>
  <nb-layout-column class="colored-column-basic">
    Layout Content
  </nb-layout-column>

  <!-- Sidebar -->
  <nb-sidebar fixed>
    <kiss-sidebar></kiss-sidebar>
  </nb-sidebar>
</nb-layout>
